<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::body}, 'Propose New Project')}">
<body>
	<div class="container mt-5">
		<div
			th:replace="~{fragments/commonFragments :: backButton(@{/dashboard(tab=${'projects'})}, 'Back to the Projects')}"></div>
		<h2>Propose a New Project</h2>
		<form th:action="@{/project/new}" th:object="${project}" method="post"
			class="mt-3">
			<div class="mb-3">
				<label>Project Title</label> <input type="text" class="form-control"
					th:field="*{title}" required>
			</div>
			<div class="mb-3">
				<label>Project Description</label>
				<textarea class="form-control" th:field="*{description}" rows="5"
					required></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a th:href="@{/dashboard(tab='projects')}" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</body>
</html>
